@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --bgc-01: #fffacf;
    --bgc-02: #b9ead3;
    --txt-01: #ffff;
    --txt-02: #000000;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "Segoe UI", Black;
    line-height: 1;
}

/* header vormgeving */

header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    background-color: var(--bgc-02);
    padding: 1rem ;
    color: var(--txt-02);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

header nav li{
    display: inline-block;
}

header img{
    width: 5rem;
}

header .logo {
    justify-self: center;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-weight: 600;
}

a {
    text-decoration: none  ;
    margin: 10px;
}

header, main {
    padding: 1rem;
}

header h1 {
    display: inline-block;
    margin-left: 0.2ch;
    font-weight: 600;
}

header nav {
    justify-self: end;
    align-self: center;
}

header nav li:hover {
color: white;
}

.input-container {
    position: relative;
}

.input-container i{
    color: #000000;
    position: absolute;
}

input[type="text"] {
    padding: 10px 20px 10px 1px;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 250px;
}

/* main vormgeving */

main {
    font-family: Lato, sans-serif;
    font-weight: 400;
}

h2 {
    color: #000000;
    margin-right: 980px;
    font-family: Lato, sans-serif;
    font-weight: 700; 
    font-size: 40px;
}


h2:after {
    content: '';
    display:block;
    width: 170px;
    height: 10px;
    background-color: black;
    filter: drop-shadow(2px 2px 0 #f00);
    margin-left: 49px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.grid-item img {
    width: 300px;
    height: 300px; 
}

.grid-item {
    position: relative;
  }

.grid-item h3 {
  position: absolute;
  bottom: 30px;
  left: 10px;
  letter-spacing: 0.5ch;
}
