@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: rubik, sans-serif;
}

.flex-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 40px;
}

header nav li {
    display: inline-block;
}

header nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header input {
    width: 9rem;
    height: 2rem;
}

img{
    width: 75px;
}

i{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.icons {
    padding-bottom: 1px;
}

.input-container {
    position: relative;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  input[type="text"] {
    padding: 10px 20px 10px 1px;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
  }

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 100vh;
}

video {
    width: 100%;
}

.flex-container-main{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    padding-bottom: 100px;
}

.heren {
    width: 350px;
}

h2 {
    margin-left: 45px;
}