* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: auto;
}

h2{
    font-size: 30px;
    margin: auto;
    color: #000000;
}


p{
    margin: auto;
    font-size: 18px;
}

#flexbox{
    padding: 25px;
    background-color: rgb(248, 3, 3);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    list-style: none;
}

a{
    color: #000000;
    font-size: 18px;
}

a:hover{
    color: #000000;
    border-color: #ffffff;
    border-width: 2px;
    border-style:ridge;
}

li{
    color: #ff0000;
    margin: auto;
    list-style:circle;
    text-align: center;
  
}

.col {
    padding: 10%;
    position: center;
    border: 3px solid rgb(254, 254, 254);
    margin: 5px;
    border-radius:50px;
    width: 50%;
}

.about {
    width: 100%;
    padding: 50px;
    background-color: #191919;
    font-family: 'Montserrat', sans-serif;
}

.about img {
    width: 420px;
    height: auto;
}

.about-text {
    width: 550px;
    margin-right: 50px;

}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

span {
    color: #f9004d;
}


.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer{
    width: 50vw;
    margin: auto;
    text-align: center;
    background-color: #000000;
}


