/* */

body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-noto-sans: "Noto Sans";
  
    /* font sizes */
    --font-size-sm: 0.88rem;
  
    /* Colors */
    --color-white: #fff;
  
    /* Border radiuses */
    --br-81xl: 100px;
  }

.background-icon,
.transparant {
  left: 0;
  width: 80rem;
  height: 50rem;
}
.background-icon {
  position: absolute;
  top: 0;
  object-fit: cover;
}
.transparant {
  background-color: #0e0e1b;
  opacity: 0.65;
}
.group-child,
.kreed,
.transparant {
  position: absolute;
  top: 0;
}
.kreed {
  left: 36.45%;
  font-weight: 500;
}
.group-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-color: #ffa182;
}
.k-icon {
  position: absolute;
  height: 45.16%;
  width: 45.16%;
  top: 27.42%;
  right: 25.81%;
  bottom: 27.42%;
  left: 29.03%;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo,
.rectangle-parent {
  position: absolute;
  height: 90.91%;
  width: 28.04%;
  top: 3.03%;
  right: 71.96%;
  bottom: 6.06%;
  left: 0;
}
.logo {
  height: 78.57%;
  width: 9.64%;
  top: 11.9%;
  right: 90.36%;
  bottom: 9.52%;
  font-size: 1.5rem;
}
.home-about-us {
  position: absolute;
  top: 26.19%;
  left: 45%;
  font-weight: 500;
  text-align: right;
}
.group-item {
  position: absolute;
  height: 104.76%;
  width: 101.54%;
  top: -2.38%;
  right: -0.77%;
  bottom: -2.38%;
  left: -0.77%;
  border-radius: var(--br-81xl);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
}
.lets-talk {
  position: absolute;
  top: 26.19%;
  left: 36.15%;
  font-weight: 500;
}
.rectangle-group {
  position: absolute;
  height: 100%;
  width: 11.71%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%;
  text-align: center;
}
.top-navigation {
  position: absolute;
  top: 1.88rem;
  left: 10.31rem;
  width: 69.38rem;
  height: 2.63rem;
}
.h1 {
  top: -5rem;
  line-height: 6rem;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    #ffe27d,
    #ffb543 29.17%,
    #61ffd5 73.44%,
    #3fb5ff 99.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.h1,
.tekst-all,
.tekst1 {
  position: absolute;
  width: 100%;
  left: 0;
}
.tekst1 {
  top: calc(20% + 85.5px);
  font-size: 1.13rem;
  display: inline-block;
}
.tekst-all {
  top: calc(50% - 170.5px);
  right: 0;
  height: 13.81rem;
}
.button-child,
.get-started {
  position: absolute;
  top: 0;
  left: 0;
}
.button-child {
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  width: 12.5rem;
  height: 3.75rem;
}
.get-started {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 1.38rem;
}
.tekst-button {
  top: 1.19rem;
  left: 2.25rem;
  width: 8rem;
  height: 1.38rem;
}
.button,
.tekst,
.tekst-button {
  position: absolute;
}
.button {
  top: 12rem;
  left: 15rem;
  width: 12.5rem;
  height: 3.75rem;
  font-size: var(--font-size-sm);
  color: #232522;
}

.tekst {
  width: 55.56%;
  top: calc(50% - 190px);
  right: 22.22%;
  left: 22.22%;
  height: 21.31rem;
  text-align: center;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.8);
}

.hero-7 {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-noto-sans);
}

.button-child-two,
.get-started-two {
  position: absolute;
  top: 0;
  left: 0;
}
.button-child-two {
  border-radius: var(--br-81xl);
  border: 2px solid var(--color-white);
  width: 4rem;
  height: 3.75rem;
}
.get-started-two {
  color: #0e0e1b;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1rem;
}
.tekst-button-two {
  top: 1.19rem;
  left: -0.5rem;
  width: 8rem;
  height: 1.38rem;
}
.button-two,
.tekst,
.tekst-button-two {
  position: absolute;
}
.button-two {
  top: 20rem;
  left: 19rem;
  width: 12.5rem;
  height: 3.75rem;
  font-size: var(--font-size-sm);
  color: #232522;
}

.get-started-two i {
  font-size: 60px;
  color: white;
  background: #0e0e1b;
}
